Repository nksiu/Spotify-Album-Radar, pull requests merged in 2021-06, with the labels that each got.

#11 Styling improvements to user profile page
  frontend/src/components/artist-list/index.js
  frontend/src/components/artist/index.js
  frontend/src/components/searchbar/index.js
  frontend/src/components/title/index.js
  frontend/src/page/user-management.js
Labels: frontend

#14 Add Artist form
  frontend/package.json
  frontend/src/components/artist-list/index.js
  frontend/src/components/artist-manager/index.js
  frontend/src/components/artist/index.js
  frontend/src/components/navbar/NavBar.js
  frontend/src/components/title/index.js
  frontend/src/page/user-management.js
  frontend/yarn.lock
Labels: frontend

#12 Add user panel mock
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/artist-list/index.js
  frontend/src/components/artist-manager/index.js
  frontend/src/components/artist/index.js
  frontend/src/components/navbar/NavBar.js
  frontend/src/components/searchbar/index.js
  frontend/src/components/title/index.js
  frontend/src/page/user-management.js
  frontend/yarn.lock
Labels: frontend

#15 Sprint 2 Merge
  frontend/.gitignore
  frontend/README.md
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/artist-list/index.js
  frontend/src/components/artist-manager/index.js
  frontend/src/components/artist/index.js
  frontend/src/components/navbar/NavBar.js
  frontend/src/components/searchbar/index.js
  frontend/src/components/song-list/index.js
  frontend/src/components/song/index.js
  frontend/src/components/title/index.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/page/About.js
  frontend/src/page/Home.js
  frontend/src/page/new-releases.js
  frontend/src/page/user-management.js
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
  frontend/src/styles.js
  frontend/yarn.lock
Labels: frontend

#16 set up auth for spotify
  backend/.env-template
  backend/.gitignore
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/server.js
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/page/Home.js
Labels: backend

#25 Connect Albums to Backend, minor changes
  backend/package-lock.json
  backend/package.json
  backend/routes/api/albums.js
  backend/server.js
  frontend/package-lock.json
  frontend/src/App.js
  frontend/src/components/navbar/NavBar.js
  frontend/src/components/song/index.js
  frontend/src/page/Home.js
  frontend/src/page/new-releases.js
  frontend/src/styles.js
Labels: backend, frontend

#28 Add in artist management capabilties
  backend/routes/api/artists.js
  backend/server.js
  frontend/package.json
  frontend/src/components/artist-manager/index.js
  frontend/src/page/user-management.js
  frontend/src/services/artist.js
  frontend/yarn.lock
Labels: backend, frontend

#29 connect the list and albums
  backend/routes/api/albums.js
  frontend/src/App.js
  frontend/src/components/artist-manager/index.js
  frontend/src/page/Home.js
  frontend/src/page/new-releases.js
  frontend/src/page/user-management.js
Labels: backend, frontend

#31 Empty artist add fix
  frontend/src/components/artist-manager/index.js
  frontend/src/page/user-management.js
Labels: bug, frontend

#32 Use Mock Data if nothing initialized
  backend/routes/api/albums.js
  frontend/src/page/new-releases.js
Labels: frontend

#33 Make user able to choose new song period threshold
  backend/.env-template
  backend/routes/api/albums.js
  frontend/src/components/song-list/index.js
  frontend/src/page/new-releases.js
Labels: backend, frontend
